In [2]:
import requests

In [3]:
url_get_prediction = "https://dashboard-2-6eo5.onrender.com/prediction/192535"
response = requests.get(url_get_prediction)

if response.status_code == 200:
    print("Prediction received:", response.json())
else:
    print(f"Error {response.status_code}: Unable to get prediction")

Prediction received: 0.5234773725716978

In [2]:
import pandas as pd

In [3]:
data_train = pd.read_csv('train_df.csv')
data_train.shape

(5000, 561)

In [4]:
data_train = pd.read_csv('train_df.csv', nrows=100)

In [5]:
data_train

,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,INSTAL_AMT_INSTALMENT_MEAN,INSTAL_AMT_INSTALMENT_SUM,INSTAL_AMT_PAYMENT_MIN,INSTAL_AMT_PAYMENT_MAX,INSTAL_AMT_PAYMENT_MEAN,INSTAL_AMT_PAYMENT_SUM,INSTAL_DAYS_ENTRY_PAYMENT_MAX,INSTAL_DAYS_ENTRY_PAYMENT_MEAN,INSTAL_DAYS_ENTRY_PAYMENT_SUM,INSTAL_COUNT
0,296443,0,0,1,0,0,202500.0,222768.0,17991.0,180000.0,...,10066.272300,1006627.230,20.835,109119.330,11352.280500,1135228.050,41.0,893.800000,89380.0,100.0
1,218731,0,1,0,1,0,112500.0,229500.0,13302.0,229500.0,...,21293.906250,255526.875,10606.860,31978.530,21293.906250,255526.875,54.0,736.750000,8841.0,12.0
2,262186,0,0,1,0,0,153000.0,521280.0,19984.5,450000.0,...,13791.079904,717136.155,3560.355,268774.155,13791.079904,717136.155,494.0,1527.403846,79425.0,52.0
3,331592,0,1,0,0,1,180000.0,765000.0,25411.5,765000.0,...,28650.633750,1375230.420,1834.650,77570.550,28650.633750,1375230.420,14.0,771.187500,37017.0,48.0
4,409436,0,1,1,1,0,112500.0,364896.0,22180.5,315000.0,...,0.000000,0.000,0.000,0.000,0.000000,0.000,0.0,0.000000,0.0,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,381266,0,1,0,1,0,166500.0,1354500.0,37377.0,1354500.0,...,14238.675000,113909.400,11506.005,33367.365,14238.675000,113909.400,464.0,579.875000,4639.0,8.0
96,186040,0,0,1,0,0,270000.0,457312.5,36261.0,373500.0,...,12263.260673,637689.555,3.330,100170.945,12199.870385,634393.260,489.0,1544.769231,80328.0,52.0
97,184962,0,1,0,0,1,135000.0,508495.5,24592.5,454500.0,...,2136.736385,277775.730,0.180,26571.240,2372.274346,308395.665,34.0,1494.707692,194312.0,130.0
98,122368,0,1,0,0,2,225000.0,1324422.0,38853.0,1156500.0,...,10783.608750,129403.305,10773.090,10784.565,10783.608750,129403.305,124.0,286.583333,3439.0,12.0
99,136181,0,0,1,1,0,135000.0,808650.0,23773.5,675000.0,...,9825.330000,29475.990,9816.210,9829.890,9825.330000,29475.990,2868.0,2905.000000,8715.0,3.0